/* Custom Properties */

:root {
    --ff-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 250;
    --fw-bold: 650;
    
    --clr-light: rgb(255, 255, 255);
    --clr-dark: rgb(64, 62, 62);
    --clr-accent: rgb(18, 154, 118);
    
    --fs-h1: 4rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;

    --bs: 0.25em 0.25em 0.75em rgba(53, 53, 53, 0.802),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/*general styles*/

body{
    background:var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size:var(--fs-body);
    line-height: 1.5;
}

img{
    display:block;
    max-width: 100%;
}
section{
    padding: 3em 1.5em;
}

/*Typography*/

h1,
h2,
h3{
    line-height: 1.2;
    margin:0;

}
h1 { 
    font-size: var(--fs-h1);
}
h2 { 
    font-size: var(--fs-h2);
}
h3 { 
    font-size: var(--fs-h3);
}

.section__title{
    padding:.25em;

}

.intro_title{
    font-weight: var(--fw-reg);
}
strong{
    font-weight: var(--fw-bold);
    display:block;
}


.section__subtitle{
    margin:0;
    font-size:var(--fs-h3) ;
}
.section_subtitle_intro,
.subtitle_aboutme{
    background:var(--clr-accent);
    padding: .25em 1em ;
    font-family: var(--ff-secondary);
    margin-bottom: 0.75em;
}

/*intro section*/
.intro{
    position: relative;
}

.intro__image{
    box-shadow: var(--bs) ;
}
.section_subtitle_intro{
    display: block;
}

@media (min-width: 600px){
    .intro{
        display:grid;
        width:min-content;
        margin:0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__image{
        grid-area: img;
        min-width: 250px;
        position:relative;
    }
    .section_subtitle_intro{
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position:relative;
        left: -1.5em;
        width: calc(100% + 1.5em);


    }
}
.my_services{
    background-color:var(--clr-dark);
    background-image: url("Images/coding.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    color:var(--clr-light);
    text-align: center;

}

.services_title{
    color:var(--clr-accent);
    position:relative;
}

.service{
    max-width: 450px;
    margin: 0 auto;
}

.services{
    margin-bottom: 5em;
}

