/* Custom Properties */

:root {
    --ff-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 250;
    --fw-bold: 650;
    
    --clr-light: rgb(255, 255, 255);
    --clr-dark: rgb(64, 62, 62);
    --clr-accent: rgb(18, 154, 118);
    
    --fs-h1: 4rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;

    --bs: 0.25em 0.25em 0.75em rgba(53, 53, 53, 0.802),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/*general styles*/

html{
    scroll-behavior: smooth;
}

body{
    background:var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size:var(--fs-body);
    line-height: 1.5;
}

img{
    display:block;
    max-width: 100%;
}
section{
    padding: 3em 1.5em;
}

/*Typography*/

h1,
h2,
h3{
    line-height: 1.2;
    margin:0;

}
h1 { 
    font-size: var(--fs-h1);
}
h2 { 
    font-size: var(--fs-h2);
}
h3 { 
    font-size: var(--fs-h3);
}

.section__title{
    padding:.25em;

}

.intro_title{
    font-weight: var(--fw-reg);
}
strong{
    font-weight: var(--fw-bold);
    display:block;
}


.section__subtitle{
    margin:0;
    font-size:var(--fs-h3) ;
}
.section_subtitle_intro,
.subtitle_aboutme{
    background:var(--clr-accent);
    padding: .25em 1em ;
    font-family: var(--ff-secondary);
    margin-bottom: 0.75em;
}

/*intro section*/
.intro{
    position: relative;
    
}

.intro__image{
    box-shadow: var(--bs) ;
}
.section_subtitle_intro{
    display: block;
}

@media (min-width: 600px){
    .intro{
        display:grid;
        width:min-content;
        margin:0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__image{
        grid-area: img;
        min-width: 250px;
        position:relative;
    }
    .section_subtitle_intro{
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position:relative;
        left: -1.5em;
        width: calc(100% + 1.5em);


    }
}
.my_services{
    background-color:var(--clr-dark);
    background-image: url("Images/coding.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    color:var(--clr-light);
    text-align: center;

}

.services_title{
    color:var(--clr-accent);
    position:relative;
}

.services_title::after{
    content:'';
    display: block;
    width: 20%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.service{
    max-width: 450px;
    margin: 0 auto;
}

.services{
    margin-bottom: 5em;
}

@media (min-width:800px){
    .services{
        display: flex;
        justify-content: space-around;
        margin: 15px auto;
    }
    .service + .service{
        margin-left: 5em;
    }
}

/*button*/

.btn{
    display: inline-block;
    padding: .75em 2em;
    background: var(--clr-accent);
    color:var(--clr-dark);
    font-size:1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: var(--fw-bold);
    transition: transform 300ms ease-in;

}
.btn:hover {
    transform: scale(1.25);
}




/* About me section*/

.about_me{
    max-width: 1000px;
    margin: 0 auto;
}

.about_me_img{
    box-shadow: var(--bs);
}
@media (min-width:600px) {
    .about_me{
        display: grid;
        grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
        grid-template-columns: 1fr 250px;
        grid-column-gap: 1.5em ;

    }
    .about_me_title{
        grid-area: title;
    }
    .subtitle_aboutme{
        grid-area:subtitle ;
        grid-column: 1 / -1;
        grid-row: 2;
        position:relative;
        left:-1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);

    }
    .about_me_body{
        grid-area: text;

    }
    .about_me_img{
        grid-area: img;
        position:relative;
        z-index: 2;
    }

/*my work*/
.my_work{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.about_me_subtitle{
    color:var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: calc(3 * 300px);
    margin: 0 auto;
}
.portfolio_item{
    background:var(--clr-accent);
}
.portfolio_img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.footer{
    background:rgba(0,0,0,.15);
    color: var(--clr-accent);
    text-align: center;
    padding:5em 0;
}

.social-list{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer__link{
    color: var(--clr-accent);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}